n8n-workflows/restaurant-workflows.json
{
  "name": "TasteVision Restaurant Workflows",
  "nodes": [
    {
      "workflow": {
        "name": "Process Product Image Upload",
        "nodes": [
          {
            "parameters": {
              "httpMethod": "POST",
              "path": "product-upload"
            },
            "name": "Product Upload Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "id": "product-webhook"
          },
          {
            "parameters": {
              "method": "POST",
              "url": "{{$env.NEXT_PUBLIC_APP_URL}}/api/ai/extract",
              "authentication": "headerAuth",
              "sendHeaders": true,
              "headerParameters": {
                "parameters": [
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ]
              }
            },
            "name": "AI Extraction API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "id": "ai-extraction"
          },
          {
            "parameters": {
              "operation": "create",
              "table": "products",
              "data": "={{{\n  name: $json(\"name\"),\n  description: $json(\"description\"),\n  price: $json(\"price\"),\n  image_url: $json(\"image_url\"),\n  category: $json(\"category\"),\n  created_at: new Date().toISOString()\n}}}"
            },
            "name": "Save to Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "id": "save-supabase"
          }
        ],
        "connections": {
          "Product Upload Webhook": {
            "main": [
              [
                {
                  "node": "AI Extraction API",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "AI Extraction API": {
            "main": [
              [
                {
                  "node": "Save to Supabase",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        }
      }
    },
    {
      "workflow": {
        "name": "Handle Payment Callbacks",
        "nodes": [
          {
            "parameters": {
              "httpMethod": "POST",
              "path": "payment-callback"
            },
            "name": "Payment Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "id": "payment-webhook"
          },
          {
            "parameters": {
              "method": "POST",
              "url": "{{$env.NEXT_PUBLIC_APP_URL}}/api/webhook/payment",
              "authentication": "headerAuth"
            },
            "name": "Process Payment",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "id": "process-payment"
          }
        ],
        "connections": {
          "Payment Webhook": {
            "main": [
              [
                {
                  "node": "Process Payment",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        }
      }
    }
  ]
}
